{% extends "base.html" %}

{% block content %}
  <h1>
    {{ car.model }}
    <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p>Manufacturer: ({{ car.manufacturer.name }}, {{ car.manufacturer.country }})</p>
  <h1>Drivers</h1>


  <form action="{% url "taxi:car-driver-switch" pk=car.id %}" method="post">
    {% csrf_token %}
    {% if user in car.drivers.all %}
      <input class="btn btn-danger" type="submit" value="Delete me from this car">
    {% else %}
      <input class="btn btn-success" type="submit" value="Assign me to this car">
    {% endif %}
  </form>


  <hr class="mb-0">
  <ul class="list-group list-group-flush">
    {% for driver in car.drivers.all %}
      <li class="list-group-item">
        <strong>Username: </strong>{{ driver.username }}<br>
        <strong>Full name: </strong>{{ driver.first_name }} {{ driver.last_name }}<br>
        <strong>License number: </strong>{{ driver.license_number }}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
